body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
}

code {
  font-family: 'Oswald', sans-serif;
}



.footer {
  /* padding: 0px 10px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  position: sticky;
  bottom: 0;
  background: #ebebeb;
  height: 30px;
}

.footer img {
  margin: 0px 5px;
  width: 20px;
}

.navbar {
  padding: 10px;
  display: flex;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  /* border-bottom: 1px solid #f2f2f2; */
  position: sticky;
  top: 0;
  /* background: #e9d7fa; */
  background: white;
  border-radius: 0 0 10px 10px;
  height: 20px;
  box-shadow: 0px 5px 5px #dfdfdf73;
}

.navbar h1 {
  color: #892be2;
}

.navbar .links {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: #ffffff;
  background: #892be27a;
  border-radius: 20px;
  padding: 6px;
}

.navbar button {
  background: #7f7b8298;
  color: #ffffff;
  border: 0;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  height: 24px;
  margin: 10px;
}

.navbar button:hover {
  background: #892be27a;
}

.content {
  max-width: 100%;
  /* margin: 40px auto; */
  padding: 20px;
  height: 100%;
  min-height: 100vh;
}

.recipe-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}

.recipe-preview:hover {
  box-shadow: 1px 3px 5px #000000;
}

.recipe-preview h2 {
  font-size: 20px;
  color: #892be2;
  margin-bottom: 8px;
}

.recipe-preview a {
  text-decoration: none;
}

.recipe-details h2 {
  font-size: 20px;
  color: #892be2;
  margin-bottom: 10px;
}

.recipe-details div {
  margin: 20px;
}

.recipe-details img {
  width: 240px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.recipe-details button {
  background: #892be298;
  color: #ffffff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  margin: 10px;
}

.recipe-details button:hover {
  box-shadow: 1px 3px 5px #892be273;
}

.create {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: space-between;
  background: #e9d7fa59;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.create label {
  text-align: left;
  display: block;
}

.create h2 {
  font-size: 20px;
  color: #892be2;
  margin-bottom: 30px;
}

.create img {
  width: 150px;
}

.create input,
.create select,
.create textarea {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.create button {
  background: #892be298;
  color: #ffffff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  height: 30px;
  margin: 10px;
}

.create button:hover {
  box-shadow: 1px 3px 5px #892be273;
}

.search {
  background: #e9d7fa;
  padding: 15px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  position: absolute;
  width: 90%;
  box-shadow: 1px 3px 5px #b7b7b773;
  border-radius: 8px;
  min-height: 300px;
  transform: translate(4%, -25px);
  left: 0%;
  z-index: 1;
}

.search button {
  background: #892be298;
  color: #ffffff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  height: 30px;
  margin: 10px;
}

.search-btn {
  background: #892be200;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  height: 30px;
  margin: 10px;
  position: fixed;
  left: 50%;
  top: -5px;
}

i {
  font-size: 20px;
}

.ingredients-input,
.edit-ingredients {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.polaroid-card {
  background-color: white;
  transition: 0.3s;
  width: 200px;
  height: 270px;
  margin: 10px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
}

.polaroid-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background: #8a2be230;
  transform: scale(1.05);
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.image-container img {
  /* width: 100%;
  height: auto; */
  border-radius: 20px;
  width: 200px;
  height: 200px;
}

.caption-container {
  text-align: center;
  height: 20%;
  padding-top: 20px;
}

.caption-container h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
  color: black;
}

.caption-container p {
  margin: 0;
  font-size: 12px;
  color: black;
}

.recipe-card {
  display: flex;
  flex-wrap: wrap;
}

.dropdown {
  /* position: relative; */
  display: inline-block;
}

.dropdown img {
  height: 30px;
  position: relative;
  transform: translate(-15%, -15%);
}

.dropdown button {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  background: #7f7b8298;
  color: #ffffff;
  border: 0;
  padding: 5px;
  cursor: pointer;
  margin: 10px;
}

.dropdown button:hover {
  background: #892be27a;
}

.dropdown-content {
  display: none;
  position: fixed;
  transform: translateX(-35px);
  background-color: #f1f1f100;
  min-width: 80px;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 11;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #dddddd00;
  color: #892be2;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.logout-btn {
  background: #711bb300 !important;
  color: #000000 !important;
}

.logout-btn:hover {
  background-color: #dddddd00 !important;
  color: #892be2 !important;
}

.user {
  padding: 5px 5px 2px 5px;
  background: #e9d7fa;
  font-size: 10px;
  border-radius: 10px 10px 0 0;
}

.user div {
  font-weight: 800;
}

.user p {
  font-weight: 600;
}