body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
}

code {
  font-family: 'Oswald', sans-serif;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
  color: #35f1a9;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: #35f183;
}

.content {
  max-width: 80%;
  margin: 40px auto;
  padding: 20px;
}

.recipe-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}

.recipe-preview:hover {
  box-shadow: 1px 3px 5px #000000;
}

.recipe-preview h2 {
  font-size: 20px;
  color: #2a8566;
  margin-bottom: 8px;
}

.recipe-preview a {
  text-decoration: none;
}

.recipe-details h2 {
  font-size: 20px;
  color: #34a780;
  margin-bottom: 10px;
}

.recipe-details div {
  margin: 20px;
}

.recipe-details img{
  width:40%;
}

.recipe-details button {
  background: #333;
  color: #35f1a9;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.create label {
  text-align: left;
  display: block;
}

.create h2 {
  font-size: 20px;
  color: #2a8566;
  margin-bottom: 30px;
}

.create input,
.create select,
.create textarea {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.create button {
  background: #333;
  color: #69c5a6;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.polaroid-card {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 250px;
  height: 300px;
  margin: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.polaroid-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.image-container img {
  width: 80%;
  height: auto;
}

.caption-container {
  text-align: center;
  height: 20%;
}

.caption-container h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

.caption-container p {
  margin: 0;
}

.recipe-card{
  display: flex;
  flex-wrap: wrap;
}
