body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
}

code {
  font-family: 'Oswald', sans-serif;
}

.navbar {
  padding: 10px;
  display: flex;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  position: sticky;
  top: 0;
  background: #e9d7fa;
  border-radius: 0 0 10px 10px;
  height: 20px;
  box-shadow: 0px 1.5px 0px #dfdfdf73;
}

.footer {
  /* padding: 0px 10px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  position: sticky;
  bottom: 0;
  background: #ebebeb;
  height: 30px;
}

.footer img {
  margin: 0px 5px;
  width: 20px;
}

.navbar h1 {
  color: #892be2;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: #ffffff;
  background: #892be27a;
  border-radius: 20px;
  padding: 6px;
}

.content {
  max-width: 100%;
  /* margin: 40px auto; */
  padding: 20px;
  height: 100%;
  min-height: 100vh;
}

.recipe-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}

.recipe-preview:hover {
  box-shadow: 1px 3px 5px #000000;
}

.recipe-preview h2 {
  font-size: 20px;
  color: #892be2;
  margin-bottom: 8px;
}

.recipe-preview a {
  text-decoration: none;
}

.recipe-details h2 {
  font-size: 20px;
  color: #892be2;
  margin-bottom: 10px;
}

.recipe-details div {
  margin: 20px;
}

.recipe-details img {
  width: 40%;
}

.recipe-details button {
  background: #892be298;
  color: #ffffff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
.recipe-details button:hover{
  box-shadow: 1px 3px 5px #892be273;
}

.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.create label {
  text-align: left;
  display: block;
}

.create h2 {
  font-size: 20px;
  color: #892be2;
  margin-bottom: 30px;
}

.create input,
.create select,
.create textarea {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.create button {
  background: #892be298;
  color: #ffffff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.create button:hover{
  box-shadow: 1px 3px 5px #892be273;
}

.polaroid-card {
  background-color: white;
  transition: 0.3s;
  width: 200px;
  height: 270px;
  margin: 10px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
}

.polaroid-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background: #8a2be230;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.image-container img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.caption-container {
  text-align: center;
  height: 20%;
  padding-top: 20px;
}

.caption-container h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
  color: black;
}

.caption-container p {
  margin: 0;
  font-size: 12px;
  color: black;
}

.recipe-card {
  display: flex;
  flex-wrap: wrap;
}